body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #3b82f6;
    color: white;
    padding: 20px;
    text-align: center;
}

button {
    background-color: #1d4ed8;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #2563eb;
}

select {
    padding: 10px;
    font-size: 16px;
}